# Data folder
data/

# VsCode settings
.vscode/

# Python cache files
__pycache__/

# Safed models
models/

# Environment variables
.env

# Figures used in the report but not owned by me
docs/images/meyer2019_fig2_1.png
docs/images/meyer2019_fig2_6.png